[

  {emqttd_plugin_state, [

    {mysql_pool, [
        %% ecpool options
        {pool_size, 8},
        {auto_reconnect, 1},

        %% mysql options
        {host,     "e.360iots.com"},
        {port,     3306},
        {user,     "udo_admin"},
        {password, "udocloud123"},
        {database, "UdoCloud"},
        {encoding, utf8},
        {keep_alive, true}
    ]},
    {start, ["UPDATE user SET state=0", "UPDATE device SET state=0"]},
    {connected, ["UPDATE user SET state=1 WHERE user_id='%c'", "UPDATE device SET state=1 WHERE device_id='%c'"]},
    {disconnected, ["UPDATE user SET state=0 WHERE user_id='%c'", "UPDATE device SET state=0 WHERE device_id='%c'"]},
    {over, ["UPDATE user SET state=0", "UPDATE device SET state=0"]}
  ]}

].
